h1 {
  color: red;
}

.card {
  width: 100%;
}

.card-contacts {
  height: 100% !important;
}

.modal-title {
  font-size: 1.5rem !important;
}

.contact-img {
  object-fit: cover !important;
  height: 100% !important;
  width: 100% !important;
}

.container-img-contact {
  height: 100% !important;
  aspect-ratio: 1;
}

main {
  height: 100vh;
}
.trip-cover-img {
  object-fit: contain;
}

.container-detail-contact-img {
  height: 150px;
  aspect-ratio: 1;
}

.container-trip-cover-img {
  width: 100%;
  height: 250px;
  position: relative;
}

.container-trip-cover-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-trip-cover-img > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%);
  color: white;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
  font-size: 2.5rem;
}

button {
  border: none;
  background-color: transparent;
}

.input-group {
  max-width: 400px;
}

.card-trip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-trip-container span {
  color: black;
}

.date-container {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-trip {
  position: relative;
  height: 200px;
  width: 350px;
  margin: 2.5rem auto 1.5rem;
  border-radius: 10px;
}

.link-card-trip img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.link-card-trip {
  text-decoration: none;
  color: white;
}

.trip-title {
  background-color: white;
}

.trip-title h2 {
  position: absolute;
  bottom: 1.5rem;
  right: 3rem;
  text-shadow: 5px 5px 2px black;
  font-weight: bold;
}

header {
  background-color: #eee;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.mb-10 {
  margin-bottom: 10rem;
}

.btn-backArrow {
  position: absolute;
  left: 20px;
  top: 25px;
}

.container-icon {
  border: 1px solid #0a58ca;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 17px;
}

.container-icon > i {
  font-size: 1.5rem;
  color: #0a58ca;
}

.btn-info {
  border-color: #579aff !important;
  background-color: #579aff !important;
  color: white !important;
}
